#map {
    width: 100%; 
	height: 100%;
	position: absolute;
	z-index: 0;
	top: 0;
	left: 0;
}

.leaflet-container {
	font-family: Futura, sans-serif;
}

#info_text {
	font-size: 40px;
	color: rgb(124, 125, 128)
}

#storymap_link {
	font-size: 15px;
}
